
/* FONTS */
@import 'https://fonts.googleapis.com/css?family=Roboto:400,500|Roboto+Condensed:700';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

/* STRUCTURE */
html, body {
  width: 100%; height: 100%;
  overflow: hidden;
}
body, div {
  display: inline-block;
}
a, input {font-size: inherit; letter-spacing: inherit;}
*[hidden] {display: none}

/* layers */
body { position: relative; }

.layer {
  width: 100%;
  height: 100%;
  position: absolute;
  /*opacity: 0;*/

  transition: 1s;

  text-align: center;
}
#log {color: white; z-index: 100; position: absolute; font-family: 'Roboto Mono'; display: inline-block; margin: 20px; white-space: pre} /*FIX*/
.layer > .content {
  width: 1024px;
  height: 768px;

  box-sizing: border-box;
}
/* COUNTDOWN */
#countdown_layer {
  background-color: rgba(38, 50, 56, 0.8);
  text-align: center;
  z-index: 40;
  opacity: 0;
  display: none;
}

#countdown_layer > #countdown {
  color: rgb(176,190,197);
  font-size: 72pt;
  font-family: 'Roboto Condensed', sans-serif;
  margin-top: 360px;
  display: block;
}

/* MENU */
#menu_layer {
  font-family: 'Roboto Condensed', sans-serif;
  background-color: #37474F; /* Blue Grey 800 */
  text-align: center;
  z-index: 30;
  /*opacity: 0; CHANGE THIS BACK */
}

#menu_layer > #space {
  z-index: 31;
}

#menu_layer .content {
  z-index: 32;
}

#menu_layer .content, #game_layer .content {
  position: relative; top: 50%; transform: translateY(-50%);
}

#menu_layer .content > .left, #menu_layer .content > .right {
  float: left;
  padding: 0px 12px;
  box-sizing: border-box;
}

#menu_layer .left {
  width: 50%;
  height: 100%;

  text-align: right;
}

#menu_layer .title {
  margin-top: 360px;
  font-size: 48px;

  color: #78909C;  /* Blue Grey 400 */
  letter-spacing: 6px;
}

#menu_layer .right {
  width: 50%;
  height: 100%;

  text-align: left;
}

#menu_layer .menu {
  margin-top: 360px;
  width: 100%;
}

#menu_layer .mi {
  display: block;
  margin-bottom: 12px;
  font-size: 40px;
  color: #546E7A; /* Blue Grey 600 */
  letter-spacing: 4px;
}

#menu_layer .selected {
  color: #CFD8DC; /* Blue Grey 100 */
}

#menu_layer .menu input[type="text"] { width: 180px; }

#menu_layer input[type="text"] {
  padding: 0 12px;

  font-size: 40px;
  letter-spacing: 4px;

  background-color: #455A64; /* Blue Grey 700 */
}

::-webkit-input-placeholder {
   color: #546E7A; /* Blue Grey 600 */
}
:-moz-placeholder { color: red; }
::-moz-placeholder { color: red; }
:-ms-input-placeholder { color: red; }

/* forms */
form, form * {
  font-size: inherit;
  color: inherit;
  letter-spacing: inherit;
  cursor: inherit;
}

input[type="submit"] {
  cursor: pointer;
}

/* lobby */

.lobby {
  width: 100%;
  margin-top: 24px;
}

#menu_layer h2, h3 {
  display: block;
  color: #90A4AE; /* Blue Grey 300 */
  letter-spacing: 4px;
  text-align: center;
}

#menu_layer h2 {
  margin-bottom: 12px;
  font-size: 36px;
}

#menu_layer h3 {
  margin-bottom: 12px;
  font-size: 28px;
}

.lobby header {
  display: inline-block;
  width: 100%;
  margin-bottom: 24px;
}

/* SOUND */

#sound_layer {
  min-width: 1024px;
  height: 64px;
  z-index: 50;
}

/* Material Icons */
.material-icons {
  color: #546E7A;
}

/* volume */
#volume {
  position: absolute;
  left: 0px;
  padding: 6px;
}

#muted, #not_muted {display: none}
.material-icons {cursor: pointer}

/* USER */

#user_info {
  float: right;
  padding-top: 48px;
  padding-right: 72px;

  font-family: 'Roboto';
  font-weight: 500;
  text-align: right;
}

#user_info_name, #user_info_rank { display:block; }

#user_info_name {
  font-size: 32px;
  color: #8dabb9;
}

#user_info_rank {
  font-size: 20px;
  color: white;
}


/* viginette */
#viginette {
  overflow:hidden;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;

  background-image: radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
  background-image: -o-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
  background-image: -ms-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
  background-image: -moz-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));
  background-image: -webkit-radial-gradient(circle, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));

  /*background-image: radial-gradient(center center, circle cover, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));*/
  /*background-image: -o-radial-gradient(center center, circle cover, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));*/
  /*background-image: -ms-radial-gradient(center center, circle cover, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));*/
  /*background-image: -moz-radial-gradient(center center, circle cover, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));*/
  /*background-image: -webkit-radial-gradient(center center, circle cover, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25));*/
}

/* particles */
body { background: #242e33 }
/*#particles { opacity: 0.4 }*/
#space {
  overflow:hidden;
  position:absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
}

/* RESULTS */
#results_layer {
  background-color: #455A64;
  z-index: 20;
  opacity: 0;
  display: none;

  font-family: "Roboto Condensed";
  letter-spacing: 2px;
  color: white;
}

#results_layer * {
  display: inline-block;
}

#results_layer > #results_head {
  font-weight: bold;
  text-align: center;
  font-size: 64px;
  width: 100%;
  margin: 24px 0px;
}

#results_layer > .results_team {
  width: 100%;
  margin-bottom: 36px;
}

#results_layer .results_team_win_state {
  width: 140px;
  font-size: 54px;
  /*font-size: 64px;*/
  text-align: right;
  vertical-align: top;
}

#results_layer .results_team_score {
  display: block;
  font-size: 24pt;
}

#results_layer .results_players {
  width: 600px;
  margin-left: 8px;
}

#results_layer .results_player {
  background-color: rgba(255, 255, 225, 0.1);
  width: 100%;
  padding: 10px 20px;
  font-size: 36px;
  margin-bottom: 6px;
}

#results_layer .results_player_name {
  font-size: inherit;
  float: left;
}

#results_layer .results_player_score {
  font-size: inherit;
  float: right;
}


/* GAME */
#game_layer {
  transition-duration: 0s;
}
#overlay {
  position: absolute;
  width: 100%;
}
#clock {
  color: white;
  z-index: 100;
  position: absolute;
  right: 0;
  font-family: 'Roboto Mono';
  font-: 'Roboto Mono';
  display: inline-block;
  margin: 20px;
  white-space: pre;
}

