

.layer > .content {
    text-align: left;
    overflow-y: scroll;

}

/* Base model: short width - short height */

#home-title {
    position: absolute;
    top: 48px;
    left: -23px;

    display: inline-block;
    width: 400px;
    height: auto;

    color: #90A4AE; /* Blue Grey 300 */
    font-size: 98px;

    letter-spacing: 13px;

    text-align: inherit;

    z-index: 35;
}

#home-menu {
    position: absolute;
    /*bottom: 0;*/
    right: 32px;
    display: inline-block;
    margin-top: 326px;
    margin-bottom: 24px;
    overflow-y: scroll;

    color: #90A4AE; /* Blue Grey 300 */
    font-size: 40px;
    letter-spacing: 4.68px;

    text-align: right;

    z-index: 33;

    /*transition: 0.4s;*/
    /*background:rgba(255, 255, 255, 0.1)*/
}

#home-menu > * {

    display: block;
    margin: 6px 0px;

    transition: 0.4s;

}

#home-menu > *:hover {
    color: #CFD8DC; /* Blue Grey 100 */
    cursor: pointer;
}

#home-menu > *:disabled {
    opacity: 0.6;
    cursor: default;
}

#home_menu_cover {
    position: absolute;
    top: -10px;
    right: 32px;
    display: inline-block;
    width: 300px;
    height: 138px;

    background: linear-gradient(0deg, rgba(55, 71, 79, 0), rgba(55, 71, 79, 1) 20%, rgba(55, 71, 79, 1));

    z-index: 34;
}



/* RESPONSIVE HOME MENU*/

/* model: short width - not as short height */

@media screen
and (min-height: 609px) {

    #home-menu {
        bottom: 0px;
        right: 32px;
        margin-top: 0px;
    }


}

/* model: not short width - short height */

@media screen
and (max-height: 431px)
and (min-width: 600px) {

    #home-menu {
        /*background: blue;*/

        top: 0px;
        bottom: 0px;
        right: 32px;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 128px 0px 32px 0px;
    }

}

@media screen
and (min-height: 432px)
and (min-width: 600px) {

    #home-menu {
        bottom: 0px;
        right: 32px;
        margin-top: 0px;
    }

}


/* model: medium width - medium height */

@media screen
and (min-height: 800px) {

    #home-menu {
        margin-bottom: 0px;
        bottom: 8%;
    }

}

@media screen
and (min-width: 1100px) {

    #home-menu {
        right: 6%;
    }

}

@media screen
and (min-width: 1800px) {

    #home-menu {
        right: 12%;
    }

}



/* RESPONSIVE TITLE */

@media screen
and (min-width: 700px)
and (min-height: 609px) {

    #home-title {
        top: 125px;
        left: 50px;
    }

}

@media screen
and (min-width: 1000px) {

    #home-title {
        width: auto;
        top: 18%;
        left: 10%;
    }

}

/* home version */
#home_version {
    position: absolute;
    bottom: 0px;
    left: 0px;
    margin: 12px 16px;
    color: #B0BEC5;
    font-weight: normal;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}